name: CI

on:
  push:
    branches: [ main ]
  pull_request:


jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      max-parallel: 4
      matrix:
        python-version: [3.8, 3.9, "3.10"]
        django-version: ["4.2"]
        crispy-version: [2.*]

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v3
      with:
        python-version: ${{ matrix.python-version }}

    - uses: actions/cache@v2
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/requirements.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install django~=${{ matrix.django-version }}.0 django-crispy-forms==${{ matrix.crispy-version }} pytest pytest-django coverage django-coverage-plugin
        pip install -q -e .
    - name: Run Tests
      run: |
        coverage run -m pytest --ds=tests.test_settings
        coverage report
        coverage xml
        ls -R
    - name: Upload coverage to Codecov
      run: |
        bash <(curl -s https://codecov.io/bash) -X html
